
@model List<Dictionary<string,int>>
@{
    ViewData["Title"] = "GraphicalDistributionOfAnswers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
 <div class="m-4">

    <h1>GraphicalDistributionOfAnswers</h1>
 </div>

  
<style>
    .queText{
        font-size:0.91rem;
    }
</style>
<div class="container m-5">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="queText">What is your gender ?</h3>
                </div>
                <div class="panel-body">
                    <div id="chart1"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="queText">Messi or Ronaldo ?</h3>
                </div>
                <div class="panel-body">
                    <div id="chart2"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="queText">Do you sing in the bathroom ?</h3>
                </div>
                <div class="panel-body">
                    <div id="chart3"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="queText">What is your favorite flower ?</h3>
                </div>
                <div class="panel-body">
                    <div id="chart4"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="queText">What is your favorite singer ?</h3>
                </div>
                <div class="panel-body">
                    <div id="chart5"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="queText">What are your favorite car brands ?</h3>
                </div>
                <div class="panel-body">
                    <div id="chart6"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="queText">Which social networks do you use ?</h3>
                </div>
                <div class="panel-body">
                    <div id="chart7"></div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="queText">How many points out of ten is your software knowledge ?</h3>
                </div>
                <div class="panel-body">
                    <div id="chart8"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="https://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
<script type="text/javascript" src="https://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        var data1 = [@Model[0].Values, @Model[0].Values]];
        var data2 = [@Model[1].Values], @Model[1].Values]];
        var data3 = [@Model[2].Values], @Model[2].Values]];
        var data4 = [@Model[3].Values], @Model[3].Values] , @Model[3].Values], @Model[3].Values]];
        var data5 = [@Model[4].Values], @Model[4].Values] , @Model[4].Values], @Model[4].Values]];
        var data6 = [@Model[5].Values], @Model[5].Values] , @Model[5].Values], @Model[5].Values]];
        var data7 = [@Model[6].Values], @Model[6].Values] , @Model[6].Values], @Model[6].Values], @Model[6].Values], @Model[6].Values]];
        var data8 = [@Model[7].Values], @Model[7].Values] , @Model[7].Values], @Model[7].Values], @Model[7].Values], @Model[7].Values] , @Model[7].Values], @Model[7].Values], @Model[7].Values], @Model[7].Values]];
        
        $("#chart1").shieldChart({
            exportOptions: {
                image: false,
                print: false
            },
            axisY: {
                title: {
                    
                }
            },
            dataSeries: [{
                seriesType: "line",
                data: data1
            }]
        });

        $("#chart2").shieldChart({
            exportOptions: {
                image: false,
                print: false
            },
            axisY: {
                title: {

                }
            },
            dataSeries: [{
                seriesType: "line",
                data: data2
            }]
        });
        $("#chart3").shieldChart({
            exportOptions: {
                image: false,
                print: false
            },
            axisY: {
                title: {

                }
            },
            dataSeries: [{
                seriesType: "line",
                data: data3
            }]
        });

        $("#chart4").shieldChart({
            exportOptions: {
                image: false,
                print: false
            },
            axisY: {
                title: {

                }
            },
            dataSeries: [{
                seriesType: "line",
                data: data4
            }]
        });

        $("#chart5").shieldChart({
            exportOptions: {
                image: false,
                print: false
            },
            axisY: {
                title: {

                }
            },
            dataSeries: [{
                seriesType: "line",
                data: data5
            }]
        });
        $("#chart6").shieldChart({
            exportOptions: {
                image: false,
                print: false
            },
            axisY: {
                title: {

                }
            },
            dataSeries: [{
                seriesType: "line",
                data: data6
            }]
        });
        $("#chart7").shieldChart({
            exportOptions: {
                image: false,
                print: false
            },
            axisY: {
                title: {

                }
            },
            dataSeries: [{
                seriesType: "line",
                data: data7
            }]
        });
        $("#chart8").shieldChart({
            exportOptions: {
                image: false,
                print: false
            },
            axisY: {
                title: {

                }
            },
            dataSeries: [{
                seriesType: "line",
                data: data8
            }]
        });
    });
</script>